@import "tailwind";
@import url('http://fonts.cdnfonts.com/css/santana');
@import url('http://fonts.googleapis.com/css?family=Chivo');

body {
  background: #F1D1B5;
  margin: 0;
}

a {
  font-family: 'Santana', sans-serif;
}

div {
  color: #000000b3;
  font-family: 'Chivo', sans-serif;
}
